openapi: 3.0.3
info:
  title: TikTok Shop API Integration
  description: OpenAPI specification for TikTok Shop API including authorization, token management, shop and product management, and order processing.
  version: 1.0.1
  contact:
    name: API Support
    url: 'https://www.tiktok.com/support'
    email: api-support@tiktok.com
servers:
  - url: 'https://services.tiktokshop.com'
    description: Base URL for non-US services
  - url: 'https://services.us.tiktokshop.com'
    description: Base URL for US services
  - url: 'https://auth.tiktok-shops.com'
    description: Authentication server for token operations
  - url: 'https://open-api.tiktokglobalshop.com'
    description: Global API server for shop and product operations
paths:
  /api/v2/token/get:
    get:
      summary: Get Access Token
      tags: 
        - Authorization
      servers:  # Specific server for this operation
        - url: 'https://auth.tiktok-shops.com'
          description: Authentication server for token operations.
      parameters:
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/appSecret'
        - in: query
          name: auth_code
          schema:
            type: string
          required: true
        - in: query
          name: grant_type
          schema:
            type: string
          required: true
          example: 'authorized_code'
      responses:
        '200':
          description: Access token details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
  /api/v2/token/refresh:
    get:
      summary: Refresh Access Token
      tags: 
        - Authorization
      description: Refreshes the access token using a refresh token.
      parameters:
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/appSecret'
        - in: query
          name: refresh_token
          schema:
            type: string
          required: true
        - in: query
          name: grant_type
          schema:
            type: string
          required: true
          example: 'refresh_token'
      responses:
        '200':
          description: New access token details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
  /authorization/202309/shops:
    get:
      summary: Get Authorized Shops
      tags: 
        - Authorization
      description: Retrieves a list of shops authorized by the developer for API access.
      parameters:
        - in: query
          name: app_key
          schema:
            type: string
          required: true
        - in: query
          name: access_token
          schema:
            type: string
          required: true
        - in: query
          name: timestamp
          schema:
            type: string
          required: true
        - in: query
          name: sign
          schema:
            type: string
          required: true
        - in: header
          name: x-tts-access-token
          schema:
            type: string
          required: true
      responses:
        '200':
          description: A list of authorized shops.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedShopsResponse'
  /event/202309/webhooks:
    get:
      summary: Get Shop Webhooks
      tags: 
        - Event
      description: This API retrieves the shop's webhooks callback URL for all event types.
      parameters:
          - $ref: '#/components/parameters/shopCipher'
          - $ref: '#/components/parameters/appKey'
          - $ref: '#/components/parameters/accessToken'
          - $ref: '#/components/parameters/timestamp'
          - $ref: '#/components/parameters/sign'
          - $ref: '#/components/parameters/xTtsAccessToken'
          - $ref: '#/components/parameters/contentTypeApplicationJson'
      responses:
        '200':
          description: Successful response with the details of the webhooks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update Shop Webhooks
      tags: 
        - Event
      description: This API updates the shop's webhook callback URL for a specific event type.
      parameters:
          - $ref: '#/components/parameters/shopCipher'
          - $ref: '#/components/parameters/appKey'
          - $ref: '#/components/parameters/accessToken'
          - $ref: '#/components/parameters/timestamp'
          - $ref: '#/components/parameters/sign'
          - $ref: '#/components/parameters/xTtsAccessToken'
          - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: The webhook URL used to receive HTTP requests of the specified event type. Maximum character limit is 255.
                  example: "https://partner.tiktokshop.com"
                event_type:
                  type: string
                  description: The event type of the webhook.
                  enum:
                    - ORDER_STATUS_CHANGE
                    - CANCELLATION_STATUS_CHANGE
                    - RETURN_STATUS_CHANGE
                    - RECIPIENT_ADDRESS_UPDATE
                    - PACKAGE_UPDATE
                    - PRODUCT_STATUS_CHANGE
                    - SELLER_DEAUTHORIZATION
                    - UPCOMING_AUTHORIZATION_EXPIRATION
                    - PRODUCT_INFORMATION_CHANGE
      responses:
        '200':
          description: Successful update of the webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateWebhookResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete Shop Webhook
      tags:
        - Event
      description: Deletes the shop's webhook URL for a specific event type. Regardless of the webhook configuration, the result will return success.
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: query
          name: event_type
          required: true
          schema:
            type: string
            enum:
            - ORDER_STATUS_CHANGE
            - CANCELLATION_STATUS_CHANGE
            - RETURN_STATUS_CHANGE
            - RECIPIENT_ADDRESS_UPDATE
            - PACKAGE_UPDATE
            - PRODUCT_STATUS_CHANGE
            - SELLER_DEAUTHORIZATION
            - UPCOMING_AUTHORIZATION_EXPIRATION
            - PRODUCT_INFORMATION_CHANGE
          description: The event type of the webhook to delete.
      responses:
        '200':
          description: Successful deletion of the webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteWebhookResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /seller/202309/permissions:
    get:
      summary: Get Seller Permissions
      tags:
        - Seller
      description: >
        This API only applies to cross-border sellers. It returns the cross-border operations that the seller has permission to perform. Currently,
        the only applicable cross-border operation is global product management. Global products refer to a special type of product that a
        cross-border seller manages centrally, and are listed in multiple TikTok Shops in multiple country markets owned by the cross-border seller.
      parameters:
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      responses:
        '200':
          description: Successful retrieval of seller permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerPermissionsResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /seller/202309/shops:
    get:
      summary: Get Active Shops
      tags:
        - Seller
      description: >
        Returns all the shops associated with the seller with an Active status.
        Please note: Only cross-border sellers have multiple shops. Local sellers have only one shop.
      parameters:
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      responses:
        '200':
          description: Successful retrieval of active shops.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveShopsResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /product/202309/brands:
    get:
      summary: Get Brands
      tags: 
        - Product
      description: Retrieves all product brands including both platform's built-in and custom brands by sellers.
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: query
          name: category_id
          schema:
            type: string
          required: false
        - in: query
          name: is_authorized
          schema:
            type: boolean
          required: false
        - in: query
          name: brand_name
          schema:
            type: string
          required: false
        - in: query
          name: page_size
          schema:
            type: integer
          required: true
        - in: query
          name: page_token
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Brand details based on the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandsResponse'
    post:
      summary: Create Custom Brands
      tags: 
        - Product
      description: >
        Sellers can use this API to create custom brands exclusively for their own use. This API can be used to create brands for all markets. 
        Authorization is not required when creating a brand. You can create the brand first and then apply for authorization.
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: >
                    Brand name to be created. Prerequisites:
                    - The brand name should have a minimum of 2 characters and should not exceed 30 characters.
                    - There are no language restrictions for the brand, but Chinese characters cannot be used. The brand name will not be translated into multiple languages.
                    - Authorization is not required when creating a brand. You can create the brand first and then apply for authorization.
                  example: "Teas"
      responses:
        '200':
          description: Successful creation of the brand.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBrandResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /product/202309/categories:
    get:
      summary: Get Categories
      description: >
        Use this API to get a list of product categories. Note: Product categories change frequently. It is recommended not to cache data locally. Please call the API in real time to obtain the latest category data. When using outdated category data to create products, the API will return an error. In order to create products for invite-only categories, sellers need to contact account managers and apply for these categories.
      tags:
        - Product
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: query
          name: locale
          schema:
            type: string
          required: false
          description: >
            Category information will be returned in the corresponding language based on the specified locale. If no locale is provided, the default locale of the store will be used. The currently supported locales include en-GB, en-US, id-ID, ms-MY, th-TH, vi-VN, zh-CN.
      responses:
        '200':
          description: Successful retrieval of categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /product/202309/categories/{category_id}/rules:
    get:
      summary: Get Category Rules
      description: >
        After confirming the product's category, obtain category rule information through this interface, including size chart, product qualifications,
        and COD (Cash on Delivery) rules. Note that only leaf category IDs are supported for obtaining category rules.
      tags:
        - Product
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'

        - in: path
          name: category_id
          required: true
          schema:
            type: string
          description: The category must be a Leaf Category, which is the lowest level of category.
      responses:
        '200':
          description: Successful retrieval of category rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryRulesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /product/202309/categories/{category_id}/attributes:
      get:
        summary: Get Attributes
        description: >
          Input a category to get the required product attributes and sales attributes required to list the product. Specify the language using the locale parameter. This API returns required attributes based on the shop's location. Only leaf category IDs are supported.
        tags:
          - Product
        parameters:
          - $ref: '#/components/parameters/shopCipher'
          - $ref: '#/components/parameters/appKey'
          - $ref: '#/components/parameters/accessToken'
          - $ref: '#/components/parameters/timestamp'
          - $ref: '#/components/parameters/sign'
          - $ref: '#/components/parameters/xTtsAccessToken'
          - $ref: '#/components/parameters/contentTypeApplicationJson'
          - in: path
            name: category_id
            required: true
            schema:
              type: string
              example: '600001' # Example leaf category ID.
            description: The category must be a Leaf Category, which is the lowest level of category.
          - in: query
            name: locale
            schema:
              type: string
              example: 'en-US' # Example locale.
            required: false
            description: >
              Category information is returned in the language specified by the locale. If no locale is provided, the store's default locale is used.
        responses:
          '200':
            description: Successful retrieval of category attributes.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AttributesResponse'
                  example: # Providing a response example.
                    code: 0
                    message: "Success"
                    request_id: "202203070749000101890810281E8C70B7"
                    data:
                      attributes:
                        - id: "100392"
                          is_customizable: true
                          is_multiple_selection: true
                          is_required: false
                          name: "Occasion"
                          type: "PRODUCT_PROPERTY"
                          values:
                            - id: "1001533"
                              name: "Birthday"
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
                  example: # Adding an error example.
                    code: 12052023
                    message: "Category does not exist"
                    request_id: "202203070749000101890810281E8C70B8"  
  /product/202309/categories/recommend:
    post:
      summary: Recommend Category
      tags:
        - Product
      description: >
        Recommends the Category for each product, based on product title, description, main images, and SKU images. This is especially useful for sellers syncing their product catalog from an external OMS system into TTS. The platform returns the recommended category to help speed up product catalog syncs.
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_title:
                  type: string
                  example: "Men's Fashion Sports Low Cut Cotton Breathable Ankle Short"
                description:
                  type: string
                  example: "<p>Please compare above detailed size with your measurement before purchase.</p><ul><li>M-Size</li><li>XL-Size</li></ul><img src='https://example.com/image.jpg' width='100' height='100' />"
                images:
                  type: array
                  items:
                    $ref: '#/components/schemas/ImageUri'
      responses:
        '200':
          description: Recommended category based on product details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendCategoryResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'  
  /product/202309/images/upload:
    post:
      summary: Upload Product Image
      tags:
        - Product
      description: >
        Uploads local images to TikTok Shop for creating product main images, SKU images, size charts, qualification images, etc. Usage requirements include JPEG, PNG, or JPG formats and image size not exceeding 5MB.
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeMultipartFormData'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                  format: binary
                  description: "Image file data to be uploaded. Supports JPG, JPEG, PNG formats with a maximum size of 5MB."
                use_case:
                  type: string
                  description: "Specifies the usage scenario of the image, affecting processing. Options include MAIN_IMAGE, ATTRIBUTE_IMAGE, DESCRIPTION_IMAGE, CERTIFICATION_IMAGE, SIZE_CHART_IMAGE."
                  example: "MAIN_IMAGE"
      responses:
        '200':
          description: Successful image upload with URI and URL details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadImageResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /product/202309/files/upload:
    post:
      summary: Upload Product File
      tags:
        - Product
      description: >
        Allows uploading of videos and product certification files to TikTok Shop. Supports video in MP4 format and product certification in PDF format, with file size not exceeding 10MB. Follow best practices for file naming to ensure successful upload.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                  format: binary
                  description: "Video or PDF file data to be uploaded. Supports PDF and MP4 formats, with a maximum size of 10MB."
                name:
                  type: string
                  description: "Name of the uploaded file, including the file extension (e.g., .pdf or .mp4)."
                  example: "SNI.pdf"
      responses:
        '200':
          description: Successful file upload with ID and URL details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadFileResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /product/202309/products:
    post:
      summary: Create Product
      tags:
        - Product
      operationId: createProduct
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      description: >
        Create Product API is used to list products for local shops. If you need to manage product listings for cross-border shops, use Create Global Product API. The process of creating a product is as follows, and you can refer to the guide document for more detailed instructions. Note: In order to create products for invite-only categories, sellers need to contact account managers and apply for these categories. Know more about UK invite-only categories and US invite-only categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProductResponse' 
  /product/202309/products/{product_id}/partial_edit:
    post:
      summary: Partial Edit Product
      operationId: partialEditProduct
      tags:
        - Product
      description: >
        This interface can be used to partially modify product information. It allows Local to Local sellers to edit some part of fields of product information. If first level fields are not filled in, it implies no edit for them. Fields filled in means to update by content filled in.
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the product that needs to be partially edited.
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartialEditProductRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialEditProductResponse'
  /product/202309/products/{product_id}:
      post:
        summary: Edit Product Information
        description: >
          Use this API to edit product information such as product description. Note that this API is for editing all product attributes at once; if the request payload contains a blank response, it will override the existing fields. To edit specific properties such as inventory level or price, use Update Inventory or Update Price.
        tags:
          - Product
        operationId: editProduct
        parameters:
          - name: product_id
            in: path
            required: true
            schema:
              type: string
            description: The ID of the product that needs to be partially edited.
          - $ref: '#/components/parameters/shopCipher'
          - $ref: '#/components/parameters/appKey'
          - $ref: '#/components/parameters/accessToken'
          - $ref: '#/components/parameters/timestamp'
          - $ref: '#/components/parameters/sign'
          - $ref: '#/components/parameters/xTtsAccessToken'
          - $ref: '#/components/parameters/contentTypeApplicationJson'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialEditProductRequest'
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PartialEditProductResponse'
      get:
        summary: Get Product
        tags:
          - Product
        description: >
          Use Get Product API to retrieve product information. You can obtain products in draft, under review, and activated status. After submitting a product for review, a snapshot of the product in the pending review state will be saved. This snapshot contains the information of the product that is under review and not yet published. If you want to retrieve information for products under review, you can set the 'return_under_review_version' parameter to true.
        parameters:
          - $ref: '#/components/parameters/shopCipher'
          - $ref: '#/components/parameters/appKey'
          - $ref: '#/components/parameters/accessToken'
          - $ref: '#/components/parameters/timestamp'
          - $ref: '#/components/parameters/sign'
          - $ref: '#/components/parameters/xTtsAccessToken'
          - $ref: '#/components/parameters/contentTypeApplicationJson'
          - name: product_id
            in: path
            required: true
            schema:
              type: string
            description: The unique ID of the product.
          - name: return_under_review_version
            in: query
            required: false
            schema:
              type: boolean
            description: >
              The "return_under_review_version" parameter can be used to retrieve the snapshot information of products that are under review. 
              - If set to false, it will retrieve information of products already approved and in the "activated" state. 
              - If set to true, it retrieves information of products still under review. 
              - Defaults to false if not provided.
        responses:
          '200':
            description: Successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ProductResponse'               
  /product/202309/products/{product_id}/inventory/update:
    post:
      summary: Update Inventory
      tags:
        - Product
      description: |
        Sellers can use this API to update product inventory. It represents the inventory value corresponding to the warehouse for which a SKU is set.
        **Usage requirements**
        - Products need to be in living status.
        - The user must have permission to activate an inventory item.
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: path
          name: product_id
          required: true
          schema:
            type: string
          description: The product id need update inventory.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                skus:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - inventory
                    properties:
                      id:
                        type: string
                        description: Need to modify the SKU corresponding to the inventory.
                      inventory:
                        type: array
                        items:
                          type: object
                          properties:
                            warehouse_id:
                              type: string
                              description: |
                                Need to modify the warehouse corresponding to the inventory.
                                **Parameter Rules:**
                                - If the SKU is using one default warehouse information, then this warehouse id is an optional field.
                                - If the SKU is using another warehouse or the SKU has multiple warehouse information, then this warehouse id and inventory information are mandatory when you update inventory to a certain warehouse.
                            quantity:
                              type: integer
                              description: |
                                The quantity of named inventory after the change.
                                **Parameter Rules:**
                                - The value should be non-negative numbers (include number 0) and less than 99999.
      responses:
        '200':
          description: Inventory update response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: Success
                  request_id:
                    type: string
                  data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            message:
                              type: string
                            detail:
                              type: object
                              properties:
                                sku_id:
                                  type: string
                                extra_errors:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      warehouse_id:
                                        type: string
                                      code:
                                        type: integer
                                      message:
                                        type: string
  /product/202309/products/{product_id}/prices/update:
    post:
      summary: Update Price
      tags:
        - Product
      description: |
        This API allows you to change the price of a SKU. You can update the price of multiple SKUs of the same product.
        **Usage requirements**
        - Products need to be in living status.
        - The user must have permission to manage this product.
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: path
          name: product_id
          required: true
          schema:
            type: string
          description: The product id of the sku price to be changed. This product belongs to you, and you have permission to operate on it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                skus:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - price
                    properties:
                      id:
                        type: string
                        description: The SKU that needs price updates.
                      price:
                        type: object
                        required:
                          - amount
                          - currency
                        properties:
                          amount:
                            type: string
                            description: The new price amount for the SKU. Price restrictions vary in different regions and different types of businesses.
                          currency:
                            type: string
                            description: Currencies are different in different regions. The mapping relationship between region and currency is provided.
      responses:
        '200':
          description: SKU price update response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: Success
                  request_id:
                    type: string
                  data:
                    type: object
                    description: Specific return information.
  /product/202309/products/activate:
    post:
      summary: Activate Product
      tags:
        - Product
      description: |
        This API is used by sellers to activate currently deactivated (off-shelf) products. It does not apply to deleted, frozen, or draft products. Upon activation request, TTS will send the product to the TTS Marketplace team for auditing. The product will enter the PENDING state, pending approval.
        **Usage requirements**
        - Products need to be in deactivated status.
        - The user must have permission to activate these products.
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_ids:
                  type: array
                  items:
                    type: string
                  description: Product IDs to be activated. The number of product IDs should not exceed 20.
      responses:
        '200':
          description: Product activation response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: Success
                  request_id:
                    type: string
                  data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            message:
                              type: string
                            detail:
                              type: object
                              properties:
                                product_id:
                                  type: string
                                extra_errors:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      code:
                                        type: integer
                                      message:
                                        type: string
  /product/202309/products/deactivate:
    post:
      summary: Deactivate Products
      tags:
        - Product
      description: |
        This API allows sellers to deactivate currently activated products. It does not apply to deleted, frozen, or draft products. The product will be removed from the active listings on TTS.
        
        **Usage requirements:**
        - Products need to be in active status.
        - The user must have permission to deactivate these products.
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_ids:
                  type: array
                  items:
                    type: string
                  description: Product IDs to be deactivated. The number of product IDs should not exceed 20.
      responses:
        '200':
          description: Product deactivation response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: Success
                  request_id:
                    type: string
                  data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            message:
                              type: string
                            detail:
                              type: object
                              properties:
                                product_id:
                                  type: string
                                extra_errors:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      code:
                                        type: integer
                                      message:
                                        type: string
  /product/202309/products/recover:
    post:
      summary: Recover Products
      tags:
        - Product
      description: |
        Allows sellers to recover previously deleted products. Products in an activated, frozen, or draft state cannot be recovered through this API. After successful recovery, the product status will be changed to deactivated.
        
        **Usage requirements:**
        - Products must be in deleted status.
        - The user must have permission to operate on these products.
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_ids:
                  type: array
                  items:
                    type: string
                  description: Product IDs to be recovered, limited to 20 per request.
      responses:
        '200':
          description: Product recovery response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: Success
                  request_id:
                    type: string
                  data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            message:
                              type: string
                            detail:
                              type: object
                              properties:
                                product_id:
                                  type: string
  /product/202309/inventory/search:
    post:
      summary: Inventory Search
      description: |
        The Inventory Search API can be used to retrieve detailed inventory information for Products or SKUs, including available inventory, campaign inventory, and more.

        - With this API, you have the option to pass either a list of SKUs or a list of product IDs.
        - If product IDs are provided, it returns inventory information for all SKUs under the product list.
        - If SKU IDs are provided, it returns inventory information for the specified SKUs.

        **Notice:**
        - Products need to be in live status.
        - The user must have permission to manage these products.
      tags:
        - Inventory
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_ids:
                  type: array
                  items:
                    type: string
                  example: ["1729592969712207008"]
                  description: Product id list, with a length of up to 100.
                sku_ids:
                  type: array
                  items:
                    type: string
                  example: ["1729388324987897824"]
                  description: SKU ID list, with a length of up to 600.
              description: You have to pass either sku_ids or product_ids. If both are provided, SKU IDs will be used.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorySearchResponse'
  /product/202312/prerequisites:
    get:
      summary: Check Listing Prerequisites
      description: |
        Use this API to get the product rules of the shop and whether the prerequisites for listing product are met.
      tags:
        - Product
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckListingPrerequisitesResponse'
  /product/202401/listing_schemas:
    get:
      summary: Get Listing Schemas
      description: |
        The interface returns the field requirements for creating a product. By providing the leaf category ID, you can obtain the field information and input methods for the product creation requirements.
      tags:
        - Product
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: query
          name: category_ids
          schema:
            type: array
            items:
              type: integer
          required: true
          description: The leaf category IDs to obtain field requirements for.
        - in: query
          name: locale
          schema:
            type: string
          required: false
          description: |
            Category information will be returned in the corresponding language based on the specified locale. If no locale is provided, the default locale of the store will be used. The currently supported locales include en-GB, en-US, id-ID, ms-MY, th-TH, vi-VN, zh-CN.
      responses:
        '200':
          description: Successful response with listing schema details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingSchemasResponse'
  /orders/search:
    post:
      summary: Retrieve orders list
      description: "Returns orders created or updated within a specified timeframe, with optional filtering criteria such as order status, delivery option type, and buyer user ID."
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: page_size
          in: query
          required: true
          schema:
            type: integer
          description: "Specifies the maximum number of orders per page. Range: 1-100."
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
          description: "Sort order of the results. Available values: ASC, DESC (default)."
        - name: page_token
          in: query
          required: false
          schema:
            type: string
          description: "Page token for pagination."
        - name: sort_field
          in: query
          required: false
          schema:
            type: string
          description: "Field by which to sort results. Options: create_time, update_time."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderSearchCriteria'
      responses:
        '200':
          description: A list of orders matching criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
  /order/202309/orders:
    get:
      summary: Get Order Detail
      description: Retrieve detailed information for specified orders, including status, shipping details, payment details, and item specifics.
      operationId: getOrderDetail
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: 'Comma-separated list of TikTok shop order IDs. Max count: 50.'
      responses:
        '200':
          description: Successfully retrieved order details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: Success
                  request_id:
                    type: string
                    example: 202203070749000101890810281E8C70B7
                  data:
                    type: object
                    properties:
                      orders:
                        type: array
                        items:
                          $ref: '#/components/schemas/OrderDetail'
  /fulfillment/202309/packages/search:
    post:
      summary: Retrieve package IDs based on specified conditions.
      operationId: searchPackage
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                create_time_ge:
                  type: integer
                create_time_lt:
                  type: integer
                update_time_ge:
                  type: integer
                update_time_lt:
                  type: integer
                package_status:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPackageResponse'
  /fulfillment/202309/packages/{package_id}:
    get:
      summary: Returns information about a package, including shipping details.
      operationId: getPackageDetail
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: package_id
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier of the package.
      responses:
        '200':
          description: Detailed package information is successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetailResponse'
  /fulfillment/202309/packages/{package_id}/shipping_documents:
    get:
      summary: Retrieve shipping documents for a package
      operationId: getPackageShippingDocument
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: package_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the package.
        - name: document_type
          in: query
          required: true
          schema:
            type: string
            enum: [SHIPPING_LABEL, PACKING_SLIP, SHIPPING_LABEL_AND_PACKING_SLIP, SHIPPING_LABEL_PICTURE]
          description: Type of document to retrieve.
        - name: document_size
          in: query
          schema:
            type: string
            enum: [A6, A5]
            default: A6
          description: Size of the document. Applicable only to PDF documents.
      responses:
        '200':
          description: URL of the requested shipping document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingDocumentResponse'
  /fulfillment/202309/packages/{package_id}/handover_time_slots:
    get:
      summary: Retrieve available handover time slots for a package
      operationId: getPackageHandoverTimeSlots
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: package_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the package.
      responses:
        '200':
          description: Information about available handover time slots for the package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandoverTimeSlotsResponse'
  /fulfillment/202309/orders/{order_id}/tracking:
    get:
      summary: Obtain the logistics track for an order
      operationId: getTracking
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: order_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the trade order.
      responses:
        '200':
          description: Logistics tracking information for the specified order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingResponse'
  /fulfillment/202309/packages/{package_id}/shipping_info/update:
    post:
      summary: Update shipping information for a shipped package
      operationId: updatePackageShippingInfo
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: package_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the TikTok Shop package.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tracking_number
                - shipping_provider_id
              properties:
                tracking_number:
                  type: string
                  example: 576460868968549926
                  description: The shipment tracking number provided by the carrier.
                shipping_provider_id:
                  type: string
                  example: 6965352555291346690
                  description: Identifies the carrier. Use the Get Shipping Provider API to retrieve available providers.
      responses:
        '200':
          description: Shipping information update success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePackageShippingInfoResponse'
  /fulfillment/202309/packages/deliver:
    post:
      summary: Update the delivered status of a package
      operationId: updatePackageDeliveryStatus
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                packages:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - delivery_type
                    properties:
                      id:
                        type: string
                        example: "11529598723402"
                        description: The ID of the package.
                      delivery_type:
                        type: string
                        enum: [DELIVERY_SUCCESS, DELIVERY_FAILED, UPDATE_POD]
                        example: DELIVERY_SUCCESS
                        description: Delivery status of the package.
                      fail_delivery_reason:
                        type: string
                        enum: [INVALID_ADDRESS, UNABLE_RECEIVE, UNABLE_CONTACT_BUYER, BUYER_REFUSED, DELAY_DELIVERY, PACKAGE_LOST, PACKAGE_DAMAGE, FORCE_MAJEURE, OTHER]
                        example: INVALID_ADDRESS
                        description: Reason for delivery failure.
                      file_type:
                        type: string
                        enum: [IMG, PDF]
                        example: IMG
                        description: Type of attachment.
                      file_url:
                        type: string
                        example: "https://tiktok.shopcenter.cn/file/CWvBsBZ9mhbMiHtmbZecKshon6f?table=tblTW"
                        description: URL of the attachment file.
      responses:
        '200':
          description: Success response for updating package delivery status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePackageDeliveryStatusResponse'
  /fulfillment/202309/orders/split_attributes:
    get:
      summary: Check if orders can be split into multiple packages
      operationId: getOrderSplitAttributes
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: order_ids
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          description: Comma-separated TikTok Shop order IDs.
      responses:
        '200':
          description: Success response for checking order split attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSplitAttributesResponse'
  /fulfillment/202309/orders/{order_id}/split:
    post:
      summary: Confirm order split into multiple packages
      operationId: splitOrders
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: order_id
          in: path
          required: true
          schema:
            type: string
          description: TikTok shop order ID to split.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                splittable_groups:
                  type: array
                  items:
                    $ref: '#/components/schemas/SplittableGroup'
      responses:
        '200':
          description: Order split successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSplitResponse'
  /fulfillment/202309/combinable_packages/search:
    get:
      summary: Query orders eligible for combined shipping
      operationId: searchCombinablePackages
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: page_token
          in: query
          required: false
          schema:
            type: string
          description: Page token for pagination.
        - name: page_size
          in: query
          required: true
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 50
          description: Maximum number of packages to obtain on a single page.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombinablePackagesResponse'
  /fulfillment/202309/packages/combine:
    post:
      summary: Combine packages into one fulfillment package
      operationId: combinePackage
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CombinePackageRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombinePackageResponse'
  /fulfillment/202309/packages/{package_id}/uncombine:
    post:
      summary: Uncombine one or more orders from an already combined package
      operationId: uncombinePackage
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: package_id
          in: path
          required: true
          schema:
            type: string
          description: TikTok Shop Package ID.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UncombinePackagesRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UncombinePackagesResponse'
  /fulfillment/202309/orders/{order_id}/packages:
    post:
      summary: Marks a package as shipped in specific regions (currently US and UK)
      operationId: markPackageAsShipped
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: order_id
          in: path
          required: true
          schema:
            type: string
          description: TikTok Shop order ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkPackageAsShippedRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkPackageAsShippedResponse'
  /fulfillment/202309/packages/{package_id}/ship:
    post:
      summary: Ship a package using either TikTok Shipping or Seller Shipping
      operationId: shipPackage
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: package_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the package to be shipped.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipPackageRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipPackageResponse'
  /fulfillment/202309/packages/ship:
    post:
      summary: Batch ship packages for either TikTok Shipping or Seller Shipping
      operationId: batchShipPackages
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchShipPackagesRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchShipPackagesResponse'
  /fulfillment/202309/files/upload:
    post:
      summary: Upload a package delivery file for SOF (Seller Own Fleet) sellers.
      operationId: uploadDeliveryFile
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                  format: binary
                  description: PDF file data to be uploaded. Only supports PDF format and max size is 10MB.
                name:
                  type: string
                  example: "delivery_document.pdf"
                  description: The name of the uploaded file, including the file extension.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadDeliveryFileResponse'
  /fulfillment/202309/orders/{order_id}/shipping_services/query:
    post:
      summary: Query available shipping services based on package dimensions and weight.
      operationId: queryShippingServices
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: path
          name: order_id
          schema:
            type: string
          required: true
          description: TikTok Shop order ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_line_item_ids:
                  type: array
                  items:
                    type: string
                  description: List of order line item IDs.
                  example: ["32132124331234"]
                weight:
                  type: object
                  properties:
                    value:
                      type: string
                      description: The weight of the scheduled package.
                      example: "0.4"
                    unit:
                      type: string
                      description: The unit of measurement for weight.
                      example: "GRAM"
                  required:
                    - value
                    - unit
                dimension:
                  type: object
                  properties:
                    length:
                      type: string
                      description: Length of the package.
                      example: "0.3"
                    width:
                      type: string
                      description: Width of the package.
                      example: "0.2"
                    height:
                      type: string
                      description: Height of the package.
                      example: "0.04"
                    unit:
                      type: string
                      description: Unit of measurement for dimensions.
                      example: "INCH"
                  required:
                    - length
                    - width
                    - height
                    - unit
      responses:
        '200':
          description: A list of available shipping services based on provided package dimensions and weight.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingServicesResponse'
  /fulfillment/202309/packages:
    post:
      summary: Create Packages
      description: >-
        Use this API to ship orders (purchase labels). This API is region
        specific to the US. The shipping fee and delivery time is an estimate
        only and is based on the package dimensions and weight you provided.
        Options listed may differ from your shipping subscriptions.
      tags:
        - Fulfillment
      operationId: createPackages
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - order_id
                - dimension
                - weight
              properties:
                order_id:
                  type: string
                  description: TikTok Shop order ID.
                  example: "2882335594258860015"
                order_line_item_ids:
                  type: array
                  items:
                    type: string
                  description: List of order line item IDs.
                  example: ["32132124331234"]
                dimension:
                  type: object
                  required:
                    - length
                    - width
                    - height
                    - unit
                  properties:
                    length:
                      type: string
                      description: The length of the package.
                      example: "1.2"
                    width:
                      type: string
                      description: The width of the package.
                      example: "0.2"
                    height:
                      type: string
                      description: The height of the package.
                      example: "0.03"
                    unit:
                      type: string
                      description: The unit of measurement for the package's dimensions.
                      example: "CM"
                shipping_service_id:
                  type: string
                  description: Specify the shipping service used for shipping. If not specified, the default service obtained from the Get Shipping Service API is used.
                  example: "288233559123860015"
                weight:
                  type: object
                  required:
                    - value
                    - unit
                  properties:
                    value:
                      type: string
                      description: The weight of the scheduled package.
                      example: "1.2"
                    unit:
                      type: string
                      description: The unit of measurement for the package's weight.
                      example: "GRAM"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePackageResponse'
  /fulfillment/202309/orders/{order_id}/shipping_info/update:
    post:
      summary: Update shipping information for an already shipped order.
      operationId: updateShippingInfo
      tags:
        - Fulfillment
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: path
          name: order_id
          required: true
          schema:
            type: string
          description: TikTok Shop order ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tracking_number
                - shipping_provider_id
              properties:
                tracking_number:
                  type: string
                  description: The shipment tracking number provided by the carrier.
                  example: "576460868968549926"
                shipping_provider_id:
                  type: string
                  description: Identifies the carrier that will deliver the package. Use Get Shipping Provider API to retrieve the shipping provider ID.
                  example: "6965352555291346690"
      responses:
        '200':
          description: Successfully updated shipping information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateShippingInfoResponse'
        '400':
          description: Bad request, such as missing required fields or invalid data format.
        '401':
          description: Unauthorized access, invalid API key or token.
        '404':
          description: The specified order ID was not found.
        '500':
          description: Internal server error, failed to update shipping info due to server issues.
  /return_refund/202309/cancellations/search:
    post:
      summary: Retrieve order cancellations based on various criteria.
      operationId: searchCancellations
      tags:
        - Return and Refund
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - name: sort_field
          in: query
          schema:
            type: string
          description: Fields to sort order by. Available values create_time (default), update_time.
        - name: sort_order
          in: query
          schema:
            type: string
          description: Sort order. Available values ASC (default), DESC.
        - name: page_size
          in: query
          schema:
            type: string
            default: "10"
          description: Size of one page. Default is 10. Upper limit is 50.
        - name: page_token
          in: query
          schema:
            type: string
          description: Token of pagination. Should be empty on the first page. Get next page token from response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cancel_ids:
                  type: array
                  items:
                    type: string
                  description: List of order cancellations ids.
                order_ids:
                  type: array
                  items:
                    type: string
                  description: List of TikTok Shop order ids.
                buyer_user_ids:
                  type: array
                  items:
                    type: string
                  description: List of TikTok Shop buyer user ids.
                cancel_types:
                  type: array
                  items:
                    type: string
                  description: List of cancel types
                  enum:
                    - CANCEL
                    - BUYER_CANCEL
                cancel_status:
                  type: array
                  items:
                    type: string
                  description: List of order cancellation status
                  enum:
                    - CANCELLATION_REQUEST_PENDING
                    - CANCELLATION_REQUEST_SUCCESS
                    - CANCELLATION_REQUEST_CANCELLED
                    - CANCELLATION_REQUEST_COMPLETE
                create_time_ge:
                  type: integer
                  description: Create time greater than or equal to.
                create_time_lt:
                  type: integer
                  description: Create time less than.
                update_time_ge:
                  type: integer
                  description: Update time greater than or equal to.
                update_time_lt:
                  type: integer
                  description: Update time less than.
                locale:
                  type: string
                  description: BCP 47 locale identifier. Default value is "en".
      responses:
        '200':
          description: Successfully retrieved order cancellations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCancellationsResponse'
        '400':
          description: Bad request, such as missing required fields or invalid data format.
        '401':
          description: Unauthorized access, invalid API key or token.
        '500':
          description: Internal server error, failed to retrieve order cancellations due to server issues.
  /return_refund/202309/cancellations/{cancel_id}/approve:
    post:
      summary: Approve a buyer's order cancellation request
      operationId: approveCancellation
      tags:
        - Return and Refund
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: path
          name: cancel_id
          required: true
          schema:
            type: string
          description: The identifier of a specific cancellation request.
        - in: query
          name: idempotency_key
          schema:
            type: string
          description: The idempotency key is a unique value generated by the client which the server uses to recognize subsequent attempts to perform the same operation.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
              description: Empty JSON object as the API does not require a body for approval.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApproveCancelResponse'
        '4XX':
          description: Client error, such as a bad request or request not authorized.
        '5XX':
          description: Server error.
  /return_refund/202309/cancellations/{cancel_id}/reject:
    post:
      summary: Reject a buyer's order cancellation request
      operationId: rejectCancellation
      tags:
        - Return and Refund
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: path
          name: cancel_id
          required: true
          schema:
            type: string
          description: The identifier of a specific cancellation request.
        - in: query
          name: idempotency_key
          schema:
            type: string
          description: The idempotency key is a unique value generated by the client which the server uses to recognize subsequent attempts to perform the same operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reject_reason:
                  type: string
                  description: Seller's reason for rejecting the buyer's order cancellation request.
                  example: "seller_reject_apply_product_has_been_packed"
                comment:
                  type: string
                  description: Seller's comment on the reject decision. This is where a seller will provide more information about rejecting the request.
                  example: "I have packed the products before the cancellation request."
                images:
                  type: array
                  items:
                    type: object
                    properties:
                      image_id:
                        type: string
                        description: Image id.
                        example: "tos-maliva-i-o3syd03w52-us/57a1c8908fe74572861ea5e50887d8d1"
                      mime_type:
                        type: string
                        description: Mime type of the image.
                        example: "image/png"
                      height:
                        type: integer
                        description: Image height in pixels.
                        example: 200
                      width:
                        type: integer
                        description: Image width in pixels.
                        example: 200
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RejectCancellationResponse'
        '4XX':
          description: Client error, such as a bad request or request not authorized.
        '5XX':
          description: Server error.
  /return_refund/202309/returns/search:
    post:
      summary: Retrieve one or more returns based on specified filters
      operationId: searchReturns
      tags:
        - Return and Refund
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: query
          name: sort_field
          schema:
            type: string
            enum: [create_time, update_time]
            default: create_time
          description: Field to sort orders by.
        - in: query
          name: sort_order
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
          description: Sort order direction.
        - in: query
          name: page_size
          schema:
            type: string
            default: '10'
          description: Size of one page, with an upper limit of 50.
        - in: query
          name: page_token
          schema:
            type: string
          description: Token for pagination, should be empty on the first page and use the next page token from the response for subsequent pages.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                return_ids:
                  type: array
                  items:
                    type: string
                  description: List of return IDs for filtering.
                order_ids:
                  type: array
                  items:
                    type: string
                  description: List of TikTok Shop order IDs for filtering.
                buyer_user_ids:
                  type: array
                  items:
                    type: string
                  description: List of TikTok Shop buyer user IDs for filtering.
                return_types:
                  type: array
                  items:
                    type: string
                    enum: [REFUND, RETURN_AND_REFUND, REPLACEMENT]
                  description: Filter by the type of return. Available types include REFUND, RETURN_AND_REFUND, and REPLACEMENT.
                return_status:
                  type: array
                  items:
                    type: string
                    enum: [RETURN_OR_REFUND_REQUEST_PENDING, REFUND_OR_RETURN_REQUEST_REJECT, AWAITING_BUYER_SHIP, BUYER_SHIPPED_ITEM, REJECT_RECEIVE_PACKAGE, RETURN_OR_REFUND_REQUEST_SUCCESS, RETURN_OR_REFUND_REQUEST_CANCEL, RETURN_OR_REFUND_REQUEST_COMPLETE, REPLACEMENT_REQUEST_PENDING, REPLACEMENT_REQUEST_REJECT, REPLACEMENT_REQUEST_REFUND_SUCCESS, REPLACEMENT_REQUEST_CANCEL, REPLACEMENT_REQUEST_COMPLETE]
                  description: Filter by the status of the return.
                arbitration_status:
                  type: array
                  items:
                    type: string
                    enum: [IN_PROGRESS, SUPPORT_BUYER, SUPPORT_SELLER, CLOSED]
                  description: Filter by the arbitration status.
                create_time_ge:
                  type: integer
                  description: Filter returns created after or at this Unix timestamp.
                create_time_lt:
                  type: integer
                  description: Filter returns created before this Unix timestamp.
                update_time_ge:
                  type: integer
                  description: Filter returns updated after or at this Unix timestamp.
                update_time_lt:
                  type: integer
                  description: Filter returns updated before this Unix timestamp.
                locale:
                  type: string
                  description: BCP 47 locale identifier to set the language of response fields.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchReturnsResponse'
        '4XX':
          description: Client error, such as a bad request or request not authorized.
        '5XX':
          description: Server error.
  /return_refund/202309/returns/{return_id}/approve:
    post:
      summary: Approve a buyer's return request
      operationId: approveReturn
      tags:
        - Return and Refund
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: path
          name: return_id
          required: true
          schema:
            type: string
          description: The identifier of a specific return request.
        - in: query
          name: idempotency_key
          schema:
            type: string
          description: The idempotency key is a unique value generated by the client which the server uses to recognize subsequent attempts to perform the same operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                decision:
                  type: string
                  enum: [APPROVE_REFUND, APPROVE_RETURN, APPROVE_RECEIVED_PACKAGE, APPROVE_REPLACEMENT, ISSUE_REPLACEMENT_REFUND]
                  description: Seller's decision for the return request.
                buyer_keep_item:
                  type: boolean
                  description: If true, the seller will issue a returnless refund. The seller will refund without requiring the buyer to send the product back.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApproveReturnResponse'
        '4XX':
          description: Client error, such as a bad request or request not authorized.
        '5XX':
          description: Server error.
  /return_refund/202309/returns/{return_id}/reject:
    post:
      summary: Reject a buyer's return or refund request
      operationId: rejectReturn
      tags:
        - Return and Refund
      parameters:
        - $ref: '#/components/parameters/shopCipher'
        - $ref: '#/components/parameters/appKey'
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/xTtsAccessToken'
        - $ref: '#/components/parameters/contentTypeApplicationJson'
        - in: path
          name: return_id
          required: true
          schema:
            type: string
          description: The identifier of a specific return request.
        - in: query
          name: idempotency_key
          schema:
            type: string
          description: The idempotency key is a unique value generated by the client which the server uses to recognize subsequent attempts to perform the same operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                decision:
                  type: string
                  enum: [REJECT_REFUND, REJECT_RETURN, REJECT_RECEIVED_PACKAGE, REJECT_REPLACEMENT]
                  description: Seller's decision for the return request.
[...]
